@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using PhotoGram.ModelView;
@model CreatePostModelView;
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<center>
<div class="col-4 mb-2 hover-overlay ripple shadow-1-strong rounded">
    <img id="imgPreview" src="#" class="w-100 rounded-3" />
</div>
</center>
<form method="post" asp-action="CreatePost" enctype="multipart/form-data">
   
    <div class="d-flex flex-row align-items-center mb-4">
        <!--Image-->
        <label class="form-label"> Upload Image </label>
        <input type="file" id="photo" class="form-control" asp-for="Image" /> 
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <lablel class="form-label"> Caption </lablel>
        <input type="text" class="form-control" asp-for="Caption" />
    </div>
    <button align="right" type="submit" class="btn btn-primary btn-lg">Post</button>
</form>
<script type="text/javascript">
    $(document).ready(() => {
        $("#photo").change(function () {
            const file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    $("#imgPreview")
                        .attr("src", event.target.result);
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>


